venv_mp
.vscode
.DS_Store
mysite_proj/db.sqlite3
mysite_proj/manage.py
mysite_proj/mysite/__init__.py
mysite_proj/mysite/asgi.py
mysite_proj/mysite/settings.py
mysite_proj/mysite/urls.py
mysite_proj/mysite/wsgi.py
mysite_proj/mysite/__pycache__/__init__.cpython-38.pyc
mysite_proj/mysite/__pycache__/settings.cpython-38.pyc
mysite_proj/mysite/__pycache__/urls.cpython-38.pyc
mysite_proj/mysite/__pycache__/wsgi.cpython-38.pyc
mysite_proj/polls/__init__.py
mysite_proj/polls/admin.py
mysite_proj/polls/apps.py
mysite_proj/polls/models.py
mysite_proj/polls/tests.py
mysite_proj/polls/urls.py
mysite_proj/polls/views.py
mysite_proj/polls/__pycache__/__init__.cpython-38.pyc
mysite_proj/polls/__pycache__/admin.cpython-38.pyc
mysite_proj/polls/__pycache__/apps.cpython-38.pyc
mysite_proj/polls/__pycache__/models.cpython-38.pyc
mysite_proj/polls/__pycache__/urls.cpython-38.pyc
mysite_proj/polls/__pycache__/views.cpython-38.pyc
mysite_proj/polls/migrations/__init__.py
mysite_proj/polls/migrations/0001_initial.py
mysite_proj/polls/migrations/__pycache__/__init__.cpython-38.pyc
mysite_proj/polls/migrations/__pycache__/0001_initial.cpython-38.pyc
